
body {

background-color: #ddff99;
color: black;
font-weight: bold;
}

.asterisk {

	color: red;
	font-weight: 900;
}

.centertext {

	text-align: center;
	background-color: #ddff99;
}

span.redbold {

	color: red;
	font-weight: 900;
}

span.bluebold {

	color:blue;
	font-weight: 900;
}

span.searchresult {

	color: #bb0033;
	font-weight: 900;
}

span.searchresult_head {
	color: #0033bb;
	font-weight: 900;

}

.bold {
	font-weight: 900;
	padding: 4px;
}

tr.header {
	background-color: #ffddee;
}

tr.white {
	background-color: #ffffff;
	text-align: center;
}

.header2 {
	background-color: #77aaff;
}

.header3 {
	background-color: #ffddee;
	font-weight: 800;
	text-align: center;
}

.header_softred {
color:#de665e;
font-weight:900;
font-size: 14pt;
}

tr.detail {
	background-color: #eeeeaa;
}


td.results {
	text-align:center;
}

td.head_left {
	text-align:left;
	font-weight:900;
}



#head_general {

background-color: lightgreen;
width: 100%;
}

#head_birth {

background-color: #669900;
width: 100%;
}

#head_emergency {

background-color: red;
width: 100%;
}

#head_medical {

background-color: yellow;
width: 100%;
}

#head_local {

background-color: orange;
width: 100%;
}

#head_extracurricular {

background-color: violet;
width: 100%;
}

#head_studentprogress {

background-color: #00ccff;
width: 100%;
}

#head_comments {

background-color: #ffbbbb;
width: 100%;
}

#head_submit {

background-color: #ccccff;
width: 100%;
}

#whiteback {
color: black;
background-color: #ffffff;
width: 250px;
border-style: solid;
border-color: #255cc0;
border-width: 4px;
}

#quick_info {
color: #87aec5;
background-color: #f3edde;
text-align:center;
height: 180px;
width: 100%;
border-style: solid;
border-color: #afb682;
border-width: 2px;
}

#quick_info A:link {text-decoration: none}
#quick_info A:visited {text-decoration: none; color:black;}
#quick_info A:active {text-decoration: none; color:black;}
#quick_info A:hover {text-decoration: underline; color:black;}

.formobject {

color: black;
}

.gold {

color: #fff8cf;
}